<h3> Bloom </h3>
<p> You're one day closer to being a Junior Developer, keep it up! </p> <br> <br>
<p> Here are some handpicked, super useful resources to help you focus on <%= "#{@lowest_skill}" %> </p> <br>
<ul>
  <li> <%="#{@links[1]}"%> </li>
  <li> <%="#{@links[2]}"%> </li>
  <li> <%="#{@links[3]}"%> </li>
</ul> <br>
<p> Don't forget to update your confidence ratings at the end of the day: <%= @confidence_link_url %> </p> <br>
<p> Good luck, from Bloom team. </p>
<p id="quote"> “They tried to bury us. They didn’t know we were seeds.” </p>
