
#welcome-text
  %h1 The Happiness Project
  %h2 Helping you achieve your light bulb moment.
.fullscreen-bg
  %video.fullscreen-bg__video{:autoplay => "", :loop => "", :muted => "", :poster => "../Coverr-lamp/Coverr-lamp.jpg"}
    %source{:src => "../Coverr-lamp/Coverr-lamp.webm", :type => "video/webm"}
    %source{:src => "../Coverr-lamp/Coverr-lamp.mp4", :type => "video/mp4"}

= link_to 'Set confidence', new_skill_path, {:id => "button"}

- if current_user
  - if @skills.any?
    %table{:border => 1}
      %tbody
        %tr
          %td Skills:
          - sum = 1
          - @skills[0].confidences.length.times do
            %td= "Day-#{sum}:"
            - sum += 1
          - @skills.each do |skill|
            %tr
              %td= skill.name
              - skill.confidences.each do |confidence|
                %td=  confidence.rating

  - else
    %h1 No skills yet!

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
:JavaScript
  $(function () {

      $('#container').highcharts({

          chart: {
              polar: true,
              type: 'line'
          },

          title: {
              text: 'Track your progress',
              x: -80
          },

          pane: {
              size: '80%'
          },

          xAxis: {
              categories: #{@skillsarray},
              tickmarkPlacement: 'on',
              lineWidth: 0
          },

          yAxis: {
              gridLineInterpolation: 'polygon',
              lineWidth: 0,
              min: 0
          },

          tooltip: {
              shared: true,
              pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
          },

          legend: {
              align: 'right',
              verticalAlign: 'top',
              y: 70,
              layout: 'vertical'
          },

          series: [{
              showInLegend: false,
              data: #{@con_array},
              pointPlacement: 'on'
          },
          ]
      });
  });
