Welcome to The Happiness Project

- if current_user
  - if @skills.any?
    %table{:border => 1}
      %tbody
        %tr
          %td Skills:
          - sum = 1
          - @skills[0].confidences.length.times do
            %td= "Day-#{sum}:"
            - sum += 1
          - @skills.each do |skill|
            %tr
              %td= skill.name
              - skill.confidences.each do |confidence|
                %td=  confidence.rating

  - else
    %h1 No skills yet!

= link_to 'Set confidence', new_skill_path
= link_to 'Set daily confidence levels', new_confidence_path
