- @skills.zip(@confidences).each do |skill, confidence|
  = form_for skill do |f|
    = f.label skill.name
    = fields_for confidence do |f|
      = f.label :rating
      = f.select :rating, (1..10)
    = f.submit "Submit confidence"
