- if current_user
  = link_to 'Set confidence', new_skill_path, {:id => "button"}
  - if @skills.any?
    %table{:border => 1}
      %tbody
        %tr
          %td Skills:
          - sum = 1
          - @skills[0].confidences.length.times do
            %td= "Day-#{sum}:"
            - sum += 1
          - @skills.each do |skill|
            %tr
              %td
                = link_to "#{skill.name}", skill_path(skill)
              - skill.confidences.each do |confidence|
                %td=  confidence.rating

  - else
    %h1 No skills yet!
